*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

html, body{
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    height: 80px;
    /* background-color: red; */
}



.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 25px;
    gap: 2%;
}

#lab{
    height: 25px;
    width: 25px;
}

#dot{
    height: 25px;
    width: 25px;
}

.ac{
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    transition: 0.2s ease;
    cursor: pointer;
}

.ac:hover{
    box-shadow: 0 1px 4px rgba(0,0,0,0.8);
}


.h{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(91, 88, 88);
    font-weight:100;
    font-size: 14px;
}


.main{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   padding-bottom: 260px;
   gap: 40px;
}

.search{
    /* border: 2px solid black; */
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
     width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    overflow: hidden;
}

#inp{
    width: 600px;
    height: 40px;
    border: 2px solid #fff;
    outline: none;
    font-size: 15px;
}

#s{
   height: 50px;
   width: 50px;
}

#mic{
    width: 13px;
    height: 18px;
}

#lens{
    width: 17px;
    height: 13px;
}

#google{
    height: 190px;
    width: 480px;
}

#gmail:hover{
    text-decoration: underline;
}

#ii:hover{
    text-decoration: underline;
}

#plus{
    height: 50px;
    width: 50px;
    background-color: rgb(199, 199, 199);
    color: rgb(24, 24, 24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
}


@media (max-width:600px){
     .header{
    width: 100%;
    height: 40px;
    /* background-color: red; */
}

.nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    gap: 5%;
}

#lab{
    height: 15px;
    width: 15px;
}

#dot{
    height: 15px;
    width: 15px;
}

.ac{
    width: 25px;
    height: 25px;
    background-color: blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
   
}

.main{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   padding-bottom: 360px;
   gap: 40px;
}

.search{
    /* border: 2px solid black; */
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
     width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 40px;
    overflow: hidden;
}

#s{
   height: 40px;
   width: 40px;
}

#plus{
    height: 35px;
    width: 35px;
    background-color: rgb(199, 199, 199);
    color: rgb(24, 24, 24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

#google{
    height: 120px;
    width: 300px;
}
}

@media (max-width:700px){
 
.search{
    /* border: 2px solid black; */
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
     width: 550px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 40px;
    overflow: hidden;
}
  

}

@media (max-width:500px){
    .search{
    /* border: 2px solid black; */
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
     width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 40px;
    overflow: hidden;
}

#google{
    height: 80px;
    width: 220px;
}
}